html, body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}

#dropdowns, #output, #flags {
  position: relative;
}

#dropdowns {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.picker-cell {
  display: inline-block;
  margin: 0 10px;
}

.picker-cell > label {
  display: inline-block;
  text-align: right;
}

.picker-cell > select {
  display: inline-block;
  width: 100px;
}

#output {
  background-color: white;
  display: inline-block;
  width: 300px;
  padding: 10px;
}

#output > label {
  display: inline-block;
  padding-bottom: 10px;
}

#data-canvas {
  display: block;
  background-color: white;
  width: 300px;
  height: 300px;
}

#flags {
  display: inline-block;
  background-color: white;
  width: 250px;
  padding: 10px 35px;
  margin-top: 15px;
  text-align: left;
}

.flag-cell {
  margin: 5px 0;
}
